.tweet-box {
  width: 60%;
  height: 100px;
  margin: auto;
  background-color: #ddd;
  border-radius: 5px;
}

.tweet-box p {
  line-height: 100px;
}

.margin-top {
  margin-top: 1rem;
}

.viewContainer {
  width: 80%;
  margin: auto;
}

.margin-bottom {
  margin-bottom: 1rem;
}
